<h2>Today's Weather</h2>

  <!--<label>City </label> <input type="text" [formControl]="city">
  <button (click)="getWeather()">Get weather</button>

<ul>
  <li *ngFor="let wx of weather">
    {{wx.temp}} degrees
  </li>

</ul> -->


<form [formGroup]="location" >
  <div class = "form-group">
      <input type="text" [formControl]= "cityName" required minlength="1" formControlName = "formHere"/>
  </div>
  <div class="text-center">
    <button (click) = "getWeather()">Get Weather</button>
  </div>
</form>



<p> The weather is: {{weather}} </p>

<div *ngIf="cityName.errors.required">
  Inputting a city is required
</div>

<div *ngIf="cityName.errors.minlength">
  Name must be at least 1 character long.
</div>


